
{% extends "post_thoughts/base.html" %} {% block content %}
<!--Mission-->
{% load static %}
<div class="container px-5 py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
                <h1 class="fw-bolder mb-3">Our mission is to save Moments and Make life easier for everyone.</h1>
                <p class="lead fw-normal text-muted mb-4">Welcome to 'Thoughts,' Dive into a world of ideas and inspiration on 'Thoughts.' Explore, reflect, and fuel your creativity. It's your source for endless inspiration and insights.</p>
                <!--<a class="btn btn-primary btn-lg disabled" href="#scroll-target">Read our story</a>-->
            </div>
        </div>
    </div>
</div>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://source.unsplash.com/150x150/?Man" alt="..." />
                    <h5 class="fw-bolder">Ahmad Jawad Mughal</h5>
                    <div class="fst-italic text-muted">Founder &amp; CEO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                   <!--<img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />-->
                   <img class="img-fluid rounded-circle mb-4 px-4" src="{% static "image/IMG_1392.jpg" %}" alt="..." />
                    <h5 class="fw-bolder">Rana Asim</h5>
                    <div class="fst-italic text-muted">Founder & CEO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://source.unsplash.com/150x150/?Asian+Girls" alt="..." />
                    <h5 class="fw-bolder">Noor Asim</h5>
                    <div class="fst-italic text-muted">Operations Manager</div>
                </div>
            </div>  
            </div>
        </div>
    </div>
</section>
{% endblock %}
