{% extends "post_thoughts/base.html" %} {% block content %}
<br><br>
  <div class="col mb-5 mb-5 mb-sm-0">
    <div class="text-center">
      <h5 class="fw-bolder"><strong>User:</strong>{{object.user}}</h5>
      <p><strong>Comment Text:</strong> {{object.text}}</p>        
      <p><strong>Thought:</strong> {{object.thought}}</p>
      {% comment %}
       <img src="{{object.image.url}}" style="width:80px;height:80px"/></p>
       {% endcomment %}
      <div class="fst-italic text-muted"></div>
    </div>
    <div class="row container col-6">
    <a href="{% url "UpdateComment" object.id %}"
      ><button
        type="submit"
        name="submit"
        id="submit"
        class="btn btn-outline-primary"
      />Update Comment</button></a
      ><br><br>
      <div class="col-6">
      <a href="{% url "DeleteComment" object.id %}"
      ><button
        type="submit"
        name="submit"
        id="submit"
        class="btn btn-outline-danger"
      />Delete Comment</button></a
      >
  </div>
</div>

  </div>
  </div>

{% comment %}  
<h2>Thought Template</h2>
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#example-modal"
>
  View Comment
</button>
<div
  class="modal"
  id="example-modal"
  tabindex="-1"
  aria-labelledby="example-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="example-modal-label">Signup</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h2>Details of Comment</h2>
        <ul style="list-style-type: number; font-size: x-large">
            <li> User: {{ object.text }}</br> 
              Username: {{ object.user }}
            </li>
          </ul>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
{% endblock %}
