
{% extends "post_thoughts/base.html" %} {% block content %}
  <!--Detail here-->
  <br><br>
  <div class="col mb-5 mb-5 mb-sm-0">
    <div class="text-center">
      
      <h5 class="fw-bolder">{{object.title}}</h5>
      <p><strong>Title:</strong> {{object.title}}</p>        
      <p><strong>Thought:</strong> {{object.thought}}</p>
      <p><strong>Shared with:</strong> {{object.shared_with}}</p>
      {% comment %}
       <img src="{{object.image.url}}" style="width:80px;height:80px"/></p>
       {% endcomment %}
      <div class="fst-italic text-muted">.....</div>
    </div>
    <div class="row container col-6">
    <a href="{% url "UpdateThought" object.id %}"
      ><button
        type="submit"
        name="submit"
        id="submit"
        class="btn btn-outline-primary"
      />Update Thoughts</button></a
      ><br><br>
      <div class="col-6">
      <a href="{% url "DeleteThoughts" object.id %}"
      ><button
        type="submit"
        name="submit"
        id="submit"
        class="btn btn-outline-danger"
      />Delete Thoughts</button></a
      >
  </div>
</div>

  </div>
  </div>
{% endblock %}
