{% extends "users/base.html" %}{% block content %}
<br>
<div class="container">
    <h1>Change Your Password</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit"
        name="submit"
        id="submit"
        class="btn btn-outline-primary">Change Password</button><br>

    </form><br><br>

    <a href="{% url 'ListProfile' %}" class="btn btn-outline-primary">Go to Profile</a> 
</div>
{% endblock %}

