{% extends "users/base.html" %} {% block content %}
<div class="container mt-5">
  <h2>Welcome to the User Profiles!</h2>
  <p>Lets connect with the people.</p>

  <!-- Add your blog posts and content here -->
  <div class="container mt-5">
    <div class="row">
      <h2>Latest Profile!</h2>

      {% for object in object_list %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin: 5px">
          <img
            src="{% if object.profile_picture %}{{ object.profile_picture.url }}{% endif %}"
            class="card-img-top"
            alt="user profile"
          />
          <div class="card-body">
            <h5 class="card-title">{{object.user}}</h5>

            <a
              href="{% url 'DetailProfile' object.pk %}"
              class="btn btn-primary"
              >See Profile Details</a
            >
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Add more blog posts as needed -->
    </div>
  </div>
</div>
{% endblock %}
