{% extends "users/base.html" %}{% block content %}
<!--Delete Profile integration-->
 <div class="container px-5">
  <!-- Contact form-->
  <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
        <i class="bi bi-envelope"></i>
      </div>
      <h1 class="fw-bolder">Profile</h1>
      <p class="lead fw-normal text-muted mb-0">
        Let's delete your profile here!
      </p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <form method="post" enctype="multipart/form-data" id="contactForm" data-sb-form-api-token="API_TOKEN">
          
            <!--INtegration here-->
                {% csrf_token %} 
                <p>Are you sure you want to delete <strong>"{{ object.bio }}"</strong>?</p><p>User: {{ object.user}}</p><p>City: {{object.city}}</p></br>
            <br>
            <input type="submit" value="Confirm Delete" class="btn btn-outline-danger" />
        </div>
    </form>
          <br /><br />
          <p>Go to your profile_<a href="{% url 'Profile' %}">Go</a></p>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}