

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Welcome, {{ fname }}</h1>
    <div>
        <h2>User Details:</h2>
        <p><strong>ID:</strong> {{ object.id }}</p>
        <p><strong>Name:</strong> {{ object.user }}</p>
        <p><strong>Bio:</strong> {{ object.bio }}</p>
        <p><strong>City:</strong> {{ object.city }}</p>
        <p><strong>Date of Birth:</strong>{{object.date_of_birth}}</p>

        
        <a href="{% url 'ListProfile' %}" class="btn btn-primary">Go to Profile</a>

    </div>
  
</body>
</html>



